@media (min-width: 992px) {
  #SBsection {
    min-height: 100vh;
    background-color: #f6f6f6;
    background-image: url("../../assets/img/SB.svg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 300px) {
  #SBsection {
    min-height: 100vh;
    background-color: #f6f6f6;
    background-image: url("../../assets/img/SB.svg");
    background-position: top-right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 576px) {
  #AboutSB {
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #AboutSB {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  #AboutSB {
    margin-left: 40px;
    width: 40%;
  }
}

@media (min-width: 1200px) {
  #AboutSB {
    margin-left: 150px;
    width: 40%;
  }
}

#research {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  padding-top: 100px;
}

