.box {
  position: relative;
  perspective: 1000px;
}

.box .title {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.box .title:after, .box .description:after {
  content: "";
  width: 80%;
  display: block;
  border-bottom: 1px solid #fff;
  margin: 15px auto;
}

@media only screen and (max-width: 990px) {
  .box {
    margin-bottom: 20px;
  }
}

